<div class="indexWrap">
    <div id="section0">
        <img src="./images/ABOUT LOGO.png">
        <div id="textTopAbout">
            <h1>is the only platform connecting artists, curators, institutions,</h1>
            <h1 id="secondLine">galleries and collectors around A <span style="font-weight: bold">cooperative
                    SYSTEM</span></h1>
            <h2>Our vision is to build a circular economy for the art world, with artists at its center.</h2>
        </div>
    </div>

    <div class="sectionsWIO" id="section1">
        <div class="sideSelector" id="side1">
            <div class="numberAndText">
            <p class="numberActivated">1</p>
            <h1 class="textActivated">ARTISTS, CURATORS <br>& INSTITUTIONS</h1>
            </div>
          <div class="numberAndText">
                <p class="numberNotActivated">2</p>
                <h1 class="textNotActivated">GALLERIES & COLLECTORS</h1>
            </div>
            <div class="numberAndText" id="lastElement">
            <p class="numberNotActivated">3</p>
            <h1 class="textNotActivated">A CIRCULAR ECONOMY</h1>
            </div>
        </div>
        <img src="./images/WHAT IS ORA.jpg">
        <div class"textSection">
        </div>
    </div>

    <div id="section2">
    </div>

    <div id="section3">
    </div>
</div>