<div class="indexWrap">
    <hr>
    <div id="artistHeader">
        <h1>ARTIST OPEN CALL</h1>
        <a href="/contact-us" id="getInTouch"><button class="btnWhite">GET IN TOUCH FOR MORE INFOS</button></a>

    </div>
    <hr>

    <div id="artistSection1">
        <div id="textHeaderArtist">
        <h2>MANIFESTO /</h2>
        <hr>
        <p>In many ways, artists create prisms. Through their work, they each share with us their singular outlook on
            our world, thereby stimulating our own imagination and in turn uniting us around collective representations.
            ​In the globalised and interconnected era in which we find ourselves, we are more than ever aware of the
            plurality of these perspectives. Almost paradoxically, our increased access to these myriad cultural
            productions also reminds us of the universality of human experience, however multifaceted it may be.
            ORA’ support to production and diffusion aims to embody our contemporary era to every creative medium,
            beyond visual arts : creators of all ages, career brackets, and geographies are welcome to apply to our open
            call. Creators are welcome to submit ambitious ideas and to discuss them with our team.
        </p>
        </div>
        <img src="./images/ARTIST OPEN CALL.jpg">
    </div>