<div class="colectorContainer">
    <div class="header">
        <p>
            ORA’s collector space is a <span>curated, transparent and secure end-to-end sales solution.</span> It
            provides all types of collectors a simple way to connect with an international audience of contemporary art
            galleries for private artwork acquisitions OR PARTICIPATE IN OUR INCUBATOR’S ACTIVITIES
        </p>
    </div>
    <div id="collectorMain" class="bg-services">
        <div class="tabs">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Services')" id="defaultOpen">collector services</button>
                /
                <button class="tablinks" onclick="openTab(event, 'Support')">support an artist project</button>
            </div>
            <!-- Tab content -->
            <div id="Services" class="tabcontent">
                <h2>Gain access to our advisory and private sales services for personalised artwork acquisitions</h2>
                <p class="tabtext">ORA offers <span>a bespoke advisory service to assist collectors in their acquisition process :</span> whether
                    you’re
                    looking for emerging or established artists, ORA can source artworks from its international network
                    of
                    galleries to fit any budget and space : 
                </p>
                <div class="boxes">
                    <div class="personal">
                        <h3>PERSONAL ADVISOR :</h3>
                        <p>
                            We pair you with a representative who tailors an experience to fit your needs and
                            preferences.
                        </p>
                        <a href="#" class="btnBlack">Book a meeting now</a>
                    </div>
                    <div class="line"></div>
                    <div class="special">
                        <h3>SPECIAL SOURCING :</h3>
                        <p>
                            Create a request with your personal criteria and we will respond with matching artwork
                            proposals.
                        </p>
                        <a href="#" class="btnBlack">Make a Special Sourcing request now</a>
                    </div>
                </div>
            </div>

            <div id="Support" class="tabcontent">
                <h2>ORA offers collectors the opportunity to participate in the creation of artworks alongside artists
                    selected by our expert committee </h2>
                <p class="tabtext">Thanks to this opportunity, collectors are able to :
                <ul>
                    <li>. Participate in an artistic project <span>from conception to exhibition</span></li>
                    <li>. <span>Pre-acquire artworks</span> by promising artists, enrich their collection and discover
                        new talents </li>
                    <li>. Integrate ORA’s ecosystem and benefit from <span>privileged access to our network, events and
                            exhibitions</span></li>
                    <li>. Become a <span>cultural actor integrated in today’s artistic community</span></li>
                </ul>
                </p>
                <div class="supportFooter"><a href="#" class="partBtn">Participate Now</a></div>
                
            </div>
        </div>
    </div>
</div>

<script>
        //tabs panel for collector-area
        function openTab(evt, tabName) {
        // Declare all variables
        let i, tabcontent, tablinks, collectorMain;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");

        }
        collectorMain = document.querySelector("#collectorMain")
        collectorMain.classList.toggle("bg-special")
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.querySelector("#defaultOpen").click();
</script>