<div id="contactWrap">
<div id="contactImage">
</div>
<div id="formContainer">
    <div id="h1Wrapper">
        <a href="/contact-us">
            <h1>Contact Us</h1>
        </a>
        <p>/</p>
    </div>
    <form action="/contact-us" method="POST" action="send" enctype = "multipart/form-data" id="contact-form">
        <input type="text" name="name" id="name" placeholder="ENTER YOUR NAME">
        <input type="email" name="email" id="email" placeholder="ENTER YOUR EMAIL">
        <label class="option">
    <div>
        <label class="option">
            <input type="radio" name="object" value="SUPPORT AN ARTIST PROJECT">
            <span>SUPPORT AN ARTIST PROJECT</span>
        </label>
        <label class="option">
            <input type="radio" name="object" value="PERSONAL ADVISOR">
            <span>PERSONAL ADVISOR</span>
        </label>
        <label class="option">
            <input type="radio" name="object" value="SPECIAL SOURCING">
            <span>SPECIAL SOURCING</span>
        </label>
        <label class="option">
            <input type="radio" name="object" value="ARTIST OPEN CALL">
            <span>ARTIST OPEN CALL</span>
        </label>
    </div>
    <input type="text" name="body" id="body" placeholder="INQUIRE ABOUT">
    <button type="submit" value="submit">SUBMIT</button>
    </form>
</div>
</div>
