<div class="indexWrap">
    <div id="newsletterModal" class="modal">
        <!-- PopUp content -->
        <div class="popUp">
            <span id="closeCF" class="close">&times;</span>
            <h2>{{header}}</h2>
            <p>{{message}}</p>
        </div>
    </div>
    <div id="allImagesContainer">
        <a href="/artist-open-call">
            <div class="imageContainer" id="imageLeft">
                <h2 class="textBlack" id="textLeft">ARTIST OPEN CALL</h2>
                <button id="btnLeft" class="btnBlack">LEARN MORE</button>
            </div>
        </a>
        <a href="/collector-space">
            <div class="imageContainer" id="imageMiddle">
                <h2 class="textWhite" id="textMiddle">COLLECTOR SPACE</h2>
                <button id="btnMiddle" class="btnWhite">DISCOVER</button>
            </div>
        </a>
        <a href="/support-an-artist-project">
            <div class="imageContainer" id="imageRight">
                <h2 class="textWhite" id="textRight">SUPPORT AN ARTIST PROJECT</h2>
                <button id="btnRight" class="btnWhite">CONTRIBUTE</button>
            </div>
        </a>
    </div>
</div>