<div id="allImagesContainer">
<div class="imageContainer">
    <a>
        <p>ARTIST OPEN CALL</p>
        <img src="./images/HOMEPAGE 1.jpg" alt="ORA" id="photoLeft">
        <button class="btnBlack">LEARN MORE</button>
    </a>
</div>
</div>