<div id="allImagesContainer">
    <div class="imageContainer">
        <a href="/artist-open-call">
            <img src="./images/HOMEPAGE 1.png" alt="ORA" id="photoLeft">
            <h2 class="textBlack" id="textLeft">ARTIST OPEN CALL</h2>
            <button id="btnLeft" class="btnBlack">LEARN MORE</button>
        </a>
    </div>
    <div class="imageContainer">
        <a href="/collector-space">
            <img src="./images/HOMEPAGE 2.png" alt="ORA" id="photoMiddle">
            <h2 class="textWhite" id="textMiddle">COLLECTOR SPACE</h2>
            <button id="btnMiddle" class="btnWhite">DISCOVER</button>
        </a>
    </div>
    <div class="imageContainer">
        <a href="/support-an-artist-project">
            <img src="./images/HOMEPAGE 3.png" alt="ORA" id="photoRight">
            <h2 class="textWhite" id="textRight">SUPPORT AN ARTIST PROJECT</h2>
            <button id="btnRight" class="btnWhite">CONTRIBUTE</button>
        </a>
    </div>
</div>
