<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/webfontkit/stylesheet.css" />
   </head>

   <body>
      <div id="navbar">
         <a href="/">
            <img src="./images/LOGO 1.png" alt="ORA" width="100" height="50">
         </a>
         <ul id="navtitles">
            <li><a href="/what-is-ora" class="link">WHAT IS ORA?</a></li>
            <li><a href="/artist-open-call" class="link">ARTIST OPEN CALL</a></li>
            <li><a href="/collector-space" class="link">COLLECTOR SPACE</a></li>
            <li><a href="/support-an-artist-project" class="link">SUPPORT AN ARTIST PROJECT</a></li>
            <li><a href="/editorial" class="link">EDITORIAL</a></li>
            {{#if req.session.user}}
            <li><a href="/logout" class="link openModal">LOGOUT</a></li>
            {{else}}
            <li><button href="/" class="link openModal" id='openModal'>LOGIN</a></li>
            {{/if}}
         </ul>

      </div>

      {{{body}}}
      <div id="loginModal" class="modal">
         <!-- Modal content -->
         <div class="modal-content">
            <span class="close">&times;</span>
            {{!-- {{#if session}} --}}
            <form action="/login" method="POST">
               
               <input type="text" name="email" id="email" placeholder="ENTER YOUR EMAIL">

               
               <input type="password" name="password" placeholder="ENTER YOUR PASSWORD">

               <button type="submit" value="submit">LOGIN</button>
            </form>
         </div>
      </div>
      <script src="/js/script.js"></script>
   </body>

</html>