<div class="focusContainer" style="background-image: url('{{post.imgPath}}');">
        <div class="controls">
            <button class="btnWhite">EDIT POST</button>
            <button class="btnWhite">DELETE</button>
        </div>
</div>
<div class="postContainer">
    <h2 class="postTitle">{{post.title}}</h2>
    <p class="text">
        {{post.text}}
    </p>
</div>