body {
  font: 14px "akzidenz-grotesk_proregular"}

h1 {
    font-family: 'editorial_newregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    }

/* NAVBAR */

 #navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

#navtitles { 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
  height: 35px;
}
#navtitles > li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.link {
  color: black;
  text-transform: uppercase;
  text-decoration: none; 
  display: inline-block;
  position: relative;
  font-size: 14px;
}

#navtitles > li > a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-top:5px;
}
#navtitles > li > a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* HOMEPAGE */


/* Main container for images */
#allImagesContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Style the buttons and place it in the middle of the container/image */
.imageContainer .btnBlack {
  position: absolute;
  top: 95%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px black;
  cursor: pointer;
  background-color: transparent;
}

.imageContainer .btnBlack:hover {
  background-color: black;
  color: white
}

.imageContainer .btnWhite {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px white;
  cursor: pointer;
  background-color: transparent;
}

.imageContainer .btnWhite:hover {
  background-color: white;
  color: black
}
/* Position the buttons */
#btnLeft{
position: absolute;
top: 85%;
left: 23%;
}

#btnMiddle{
  position: absolute;
  top: 85%;
  left: 50%;
  }

#btnRight{
    position: absolute;
    top: 85%;
    left: 70%;
    }
  

  /* Position the text */
  #imageContainer h2 {
    font-size: 20px;
  }

  .imageContainer a{
    text-decoration: none;
    width: 400px;
  }
    
  .textBlack {
    color: black;
  }
  .textWhite {
    color: white;
  }
#textLeft {
  position: absolute;
  top: 100px;
}


  /* Handle the images */


#photoLeft{
  display: block;
  height: 80vh;
  width: auto;
  padding-right: 5px;

} 
#photoMiddle{
  display: block;
  height: 80vh;
  width: auto;
  padding-right: 5px;
  padding-left: 5px;
} 

#photoRight{
  display: block;
  height: 80vh;
  width: auto;
  padding-left: 5px;

} 
