<div class="indexWrap">
    <div id="supportHeader">
        <div id="supporHeaderText">
        <h1>THESE projects have been selected by OUR EXPERT COMMITTEE  / FIND OUT MORE ON OUR ARTIST OPEN CALL </h1>
        <p>DISCOVER OUR SELECTED PROJECTS AND BECOME A PATRON OF THE ARTS BY SUPPORTING THE PROJECT OF YOUR CHOICE THROUGH OUR INTEGRATED CROWDFUNDING TOOL</p>
        </div>
    
        <a href="/contact-us" id="getInTouch"><button class="btnWhite">PARTICIPATE NOW</button></a>
    </div>
    <div id="allImages" class="animate__animated animate__fadeInUp">
    <div class="imageLine">
        <div id="image1" class="imageSupport">
            <div class="blurEffect">
            <h1 class="exhibTitle">THERAPY</h1>
            <p><span class="exhib">an exhibtion by </span> <span class ="artistName">MILES GREENBERG</span></p>
            </div>
        </div>
              <div id="image2" class="imageSupport">
                  <div class="blurEffect">
            <h1 class="exhibTitle">CONVERSIONS</h1>
            <p><span class="exhib">an exhibtion by </span> <span class ="artistName">TOM BURR</span></p>
                </div>
        </div>
    </div>
    <div class="imageLine">
        <div id="image3" class="imageSupport">
            <div class="blurEffect">
            <h1 class="exhibTitle">EXO-01</h1>
            <p><span class="exhib">an exhibtion by </span> <span class ="artistName">BRETT GINSBURG</span></p>
            </div>
       </div>
              <div id="image4" class="imageSupport">
                <div class="blurEffect">
            <h1 class="exhibTitle">CEREMONIUM</h1>
            <p><span class="exhib">an exhibtion by </span> <span class ="artistName">JESSE KANDA</span></p>
            </div>  
        </div>
    </div>
    </div>

</div>
